.invite-friends-button {
    color: #4CAF50 !important;
}
.add-to-invite-friends-button {
    color: #4CAF50 !important;
}
.remove-to-invite-friends-button {
    color: #FF6347 !important; 
}
.clear-friends-list-button {
    color: #FF6347 !important;
}

.user1 {
    color: #FFB6C1 !important; /* Light Pink */
}
.user2 {
    color: #ADD8E6 !important; /* Light Blue */
}
.user3 {
    color: #FFFACD !important; /* Lemon Chiffon */
}
.user4 {
    color: #E6E6FA !important; /* Lavender */
}
.user5 {
    color: #FFDAB9 !important; /* Peach Puff */
}
.user6 {
    color: #98FB98 !important; /* Pale Green */
}
.user7 {
    color: #FFB347 !important; /* Light Orange */
}
.user8 {
    color: #D2B48C !important; /* Tan */
}
.user9 {
    color: #D3D3D3 !important; /* Light Gray */
}
.user10 {
    color: #FF69B4 !important; /* Hot Pink */
}
.user11 {
    color: #87CEFA !important; /* Sky Blue */
}
.user12 {
    color: #FFF0F5 !important; /* Lavender Blush */
}
.user13 {
    color: #F0E68C !important; /* Khaki */
}
.user14 {
    color: #FFD700 !important; /* Gold */
}
.user15 {
    color: #90EE90 !important; /* Light Green */
}
.user16 {
    color: #FFA07A !important; /* Light Salmon */
}
.user17 {
    color: #DDA0DD !important; /* Plum */
}
.user18 {
    color: #B0E0E6 !important; /* Powder Blue */
}
.user19 {
    color: #F5DEB3 !important; /* Wheat */
}
.user20 {
    color: #D8BFD8 !important; /* Thistle */
}
